.navbar-brand {
  img {
    width: 38px;
    display: inline-block;
    vertical-align: middle;
  }

  //noinspection CssUnusedSymbol
  .title-wrapper {
    vertical-align: middle;
    display: inline-block;
    border-left: 1px solid #adadad;
    padding-left: 15px;
    margin-left: 15px;
    span {
      display: block;
      //noinspection CssUnusedSymbol
      &.subtitle {
        font-size: 71%;
      }
    }
  }
}
